@font-face {
  font-family: 'SF-pro';
  src:
    // url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/SFPRODISPLAYREGULAR.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: 'SF-pro';
  src:
    // url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  display: swap;
}